.ProductImage {
  max-height: 60px;
  border-radius: 8px;
  object-fit: contain;
}
.ProductDetailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.ProductName {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.TableCell {
  height: 100%;
}
.ProductQuantity {
  margin: 0 8px;
}
.ProductQuantityContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
